In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('diamonds.csv')

In [3]:
df["cut"] = df["cut"].astype('category')
df["ccut"] = df["cut"].cat.codes

df["color"] = df["color"].astype('category')
df["ccolor"] = df["color"].cat.codes

df["clarity"] = df["clarity"].astype('category')
df["cclarity"] = df["clarity"].cat.codes

df.drop("Unnamed: 0", axis=1, inplace=True)
df.drop("depth", axis=1, inplace=True)
df.drop("table", axis=1, inplace=True)
df.drop("cut", axis=1, inplace=True)
df.drop("color", axis=1, inplace=True)
df.drop("clarity", axis=1, inplace=True)

df.rename(columns = {"ccut": "cut", "ccolor": "color", "cclarity": "clarity"}, inplace = True)

col_cut = df.pop("cut")
df.insert(1, col_cut.name, col_cut)

col_color = df.pop("color")
df.insert(2, col_color.name, col_color)

col_clarity = df.pop("clarity")
df.insert(3, col_clarity.name, col_clarity)
df.head()

   carat  cut  color  clarity  price     x     y     z
0   0.23    2      1        3    326  3.95  3.98  2.43
1   0.21    3      1        2    326  3.89  3.84  2.31
2   0.23    1      1        4    327  4.05  4.07  2.31
3   0.29    3      5        5    334  4.20  4.23  2.63
4   0.31    1      6        3    335  4.34  4.35  2.75

In [4]:
plt.figure(figsize=(20,10))
c= df.corr()
print(type(c), c)
c.to_csv('correlation.csv')

<class 'pandas.core.frame.DataFrame'>             carat       cut     color   clarity     price         x         y  \
carat    1.000000  0.017124  0.291437 -0.214290  0.921591  0.975094  0.951722
cut      0.017124  1.000000  0.000304  0.028235  0.039860  0.022342  0.027572
color    0.291437  0.000304  1.000000 -0.027795  0.172511  0.270287  0.263584
clarity -0.214290  0.028235 -0.027795  1.000000 -0.071535 -0.225721 -0.217616
price    0.921591  0.039860  0.172511 -0.071535  1.000000  0.884435  0.865421
x        0.975094  0.022342  0.270287 -0.225721  0.884435  1.000000  0.974701
y        0.951722  0.027572  0.263584 -0.217616  0.865421  0.974701  1.000000
z        0.953387  0.002037  0.268227 -0.224263  0.861249  0.970772  0.952006

                z
carat    0.953387
cut      0.002037
color    0.268227
clarity -0.224263
price    0.861249
x        0.970772
y        0.952006
z        1.000000